.list {
    font-size: $paragraph-size;
    line-height: 1.4;
    color: $c-text-main;
    margin: 0 0 0 0;
    padding: 0;
    list-style-type: none;

    & > li {
        margin-left: 1.5rem;
        position: relative;

        &::before {
            content: '>';
            position: absolute;
            top: 0;
            left: -1.5rem;
        }
    }
}