$end-statement-size: 1.8rem;
$paragraph-size: 1rem;
$heading-size-main: 3rem;
$heading-size-author: 1rem;
$heading-size-secondary: 2rem;
$swot-cta-size: 7rem;

//colors
$c-text-main: #55ff12;
$c-terminal-bg: #000000CC;
$c-terminal-head: #dedddf;

//fonts
$monospace-family: 'IBM Plex Mono', monospace;